$white: #fff;
$black: #000;
$silver-50: #f3f3f2;
$silver-100: #f6f6f6;
$silver-600: #c1c1c1;
$dark-500: #505050;
$dark-800: #31352b;
$dark-900: #121212;
$green-100: #eff6e7;
$green-200: #e0edcf;
$green-900: #63a60f;
$green-1000: #4D800C;
$orange-900: #ff7a00;
$yellow-900: #ffb800;
$red-900: #cf3e3b;
$border-gray-900: rgba(17, 17, 17, 0.2);
$border-gray-500: rgba(193, 193, 193, 0.3);