@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

.header-top {
	padding: 15px 0;
	font-family: "Opensans", sans-serif;
	font-weight: 700;
	color: $white;
	font-size: 13px;
	text-transform: uppercase;
	background-color: $dark-800;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		display: flex;
	}

	&__item {
		margin-right: 24px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.7;
		}

		&:focus {
			outline: transparent;
			border-radius: 3px;
			box-shadow: 0 0 0 2px $green-200;
		}

		&:active {
			box-shadow: none;
			color: $green-200;
		}

		&--delivery {
			position: relative;
			padding-left: 45px;


			&::before {
				left: 0;
				background-image: url('../images/icons/car.svg');
			}
		}

		&--hotline {
			position: relative;
			padding-left: 55px;

			&::before {
				left: 20px;
				background-image: url('../images/icons/phone.svg');
			}
		}

		&--delivery,
		&--hotline {
			&::before {
				position: absolute;
				content: '';
				width: 32px;
				height: 22px;
				top: -2px;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
}

.header-bottom {
	padding: 25px 15px;
	background-color: $green-900;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-catalog {
	position: relative;
	width: 240px;
	margin-right: 4px;

	&__list {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		z-index: 1;
		width: 100%;
		border-radius: 0 0 6px 6px;
		background-color: $white;
		transition: opacity 0.25s, visibility 0.25s;
		transition-delay: 0.05s;
	}

	&__button {
		position: relative;
		width: 100%;
		padding: 15px 30px 15px 52px;
		font-family: "Opensans",
			sans-serif;
		font-weight: 600;
		letter-spacing: 0.03em;
		background-color: $white;
		color: $green-900;
		border-radius: 6px;
		transition: background-color 0.3s;

		&:hover {
			background-color: $green-100;
		}

		&::before,
		&::after {
			position: absolute;
			content: '';
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			transition: transform 0.2s;
		}

		&::before {
			width: 25px;
			height: 17px;
			top: 16px;
			left: 18px;
			background-image: url('../images/icons/menu_lines.svg');
		}

		&::after {
			width: 7px;
			height: 4px;
			top: 23px;
			right: 20px;
			background-image: url('../images/icons/menu_arrow.svg');
		}
	}

	&__item {
		border-bottom: 1px solid $border-gray-500;

		&:last-child {
			padding-bottom: 3px;
			border-bottom: none;
		}
	}

	&__link {
		display: block;
		padding: 15px 24px;
		border-left: 3px solid transparent;
		color: $black;
		transition: border-color 0.25s,
			color 0.25s;

		&:hover {
			color: $green-900;
			border-left-color: $green-900;
		}

		&:focus {
			border-left: 0 solid transparent;
			box-shadow: inset 0 0 0 3px #E0EDCF;
		}

		&:active {
			border-color: transparent;
			color: $silver-600;
		}
	}

	&--active {
		.header-catalog__list {
			visibility: visible;
			opacity: 1;
		}

		.header-catalog__button {
			border-radius: 6px 6px 0 0;
			background-color: $green-200;

			&::after {
				transform: scale(1, -1);
			}

			&::before {
				transform: scale(-1, 1);
			}
		}
	}
}

.header-form {
	position: relative;
	display: flex;
	max-width: 576px;
	width: 100%;
	margin-right: 20px;

	&::before {
		position: absolute;
		content: '';
		top: 15px;
		left: 13px;
		width: 20px;
		height: 20px;
		z-index: 1;
		background-image: url('../images/icons/search.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__input {
		padding-left: 51px;
		width: 100%;

		&::placeholder {
			letter-spacing: 0.03em;
		}
	}

	&__button {
		padding: 10px 54px;
		background-color: $dark-800;
		color: $white;
		text-transform: uppercase;
		border-radius: 0 6px 6px 0;
		transition: box-shadow 0.3s,
			background-color 0.3s,
			color 0.3s;

		&:hover {
			background-color: transparentize($dark-500, 0.15);
		}

		&:focus {
			box-shadow: 0 0 0 4px transparentize($white, 0.5);
		}

		&:active {
			color: transparentize($white, 0.5);
			background-color: $dark-800;
			box-shadow: inset 0 4px 4px transparentize($black, 0.75);
		}
	}
}

.header-icons {
	display: flex;

	&__item {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 3px;
		background-color: transparentize($white, 1);
		transition: opacity 0.3s;

		&--user {
			background-image: url('../images/icons/user.svg');
			background-size: 25px;
		}

		&--heart {
			background-image: url('../images/icons/heart.svg');
			background-size: 32px;
		}

		&--cart {
			background-image: url('../images/icons/cart.svg');
			background-size: 32px;
		}

		&:hover {
			background-color: transparentize($white, 0.9);
		}

		&:focus {
			outline: transparent;
			background-color: transparentize($white, 0.9);
			box-shadow: 0 0 0 3px $green-100;
		}

		&:active {
			opacity: 0.5;
			box-shadow: none;
		}
	}

	&__num {
		position: absolute;
		top: 1px;
		left: 1px;
		width: 18px;
		height: 18px;
		font-size: 9px;
		font-weight: 600;
		line-height: 2;
		letter-spacing: 0.1em;
		text-align: center;
		color: $red-900;
		background-color: $white;
		border-radius: 50%;
	}
}

.main-slider {
	&__item {
		padding-top: 142px;
		min-height: 600px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__item-inner {
		max-width: 1290px;
		width: 100%;
		margin: 0 auto;
		padding: 24px 24px;
		letter-spacing: 0;
		background-color: transparentize($white, 0.2);
		border-radius: 4px;
	}

	&__title {
		margin-bottom: 8px;
		max-width: 800px;
		font-family: "Ruda", sans-serif;
		font-weight: 900;
		font-size: 60px;
		line-height: 1.3;
		text-transform: uppercase;
		color: $dark-500;

		span {
			color: $red-900;
		}
	}

	&__text {
		margin-bottom: 32px;
		font-size: 16px;
	}

	&__btn {
		letter-spacing: 0.03em;
	}

	&__arrow {
		position: absolute;
		top: calc(50% - 30px);
		width: 60px;
		height: 60px;
		background-color: transparentize($white, 0.2);
		;
		z-index: 1;
		border-radius: 6px;
		box-shadow: 0 0 0 3px transparentize($green-1000, 1);
		transition: background-color 0.2s, box-shadow 0.3s;

		&--prev {
			left: 15px;
		}

		&--next {
			right: 15px;
		}

		path {
			transition: fill 0.3s;
		}

		&:focus {
			box-shadow: 0 0 0 3px transparentize($green-1000, 0.5);
		}

		&:hover {
			background-color: $green-200;

			path {
				fill: $green-900;
			}
		}

		&:active {
			background-color: transparentize($white, 0.2);
			;

			path {
				fill: $green-900;
			}
		}
	}
}

.benefits {
	background-color: $silver-100;

	&__container {
		padding-top: 48px;
		padding-bottom: 29px;
	}

	&__list {
		display: flex;
		justify-content: center;
	}

	&__item {
		position: relative;
		max-width: 190px;
		width: 100%;
		margin-right: 140px;
		letter-spacing: 0.01em;

		&--delivery,
		&--return,
		&--support {
			&::before {
				position: absolute;
				content: '';
				top: 0;
				left: -74px;
				width: 50px;
				height: 50px;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		&--delivery {
			&::before {
				background-image: url('../images/icons/deliver.svg');
			}
		}

		&--return {
			&::before {
				background-image: url('../images/icons/return.svg');
			}
		}

		&--support {
			&::before {
				background-image: url('../images/icons/support.svg');
			}
		}

		&:first-child {
			margin-left: 76px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__subtitle {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 7px;
	}

}

.top-products {
	padding: 72px 0;

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-gap: 30px;
		margin-bottom: 47px;
	}

	&__btn-more {
		display: block;
		margin: 0 auto;
		padding: 11px 24px;
		font-size: 18px;
		line-height: 1.3;
		letter-spacing: 0.03em;
		background-color: $white;
		color: $green-900;
		border: 1px solid $green-900;
		border-radius: 6px;
		transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

		&:hover {
			background-color: $green-100;
		}

		&:focus {
			box-shadow: 0 0 0 4px transparentize($green-900, 0.5);
		}

		&:active {
			box-shadow: inset 0 10px 4px transparentize($black, 0.9);
			color: transparentize($green-900, 0.5);
		}
	}
}

.mixitup-control-active {
	box-shadow: none;
}

.mixitup-control-active {
	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 3px;
		bottom: -4px;
		background-color: transparentize($green-900, 0.8);
	}
}

.news-dashboard {
	&__list {
		display: grid;
		min-height: 300px;
		margin-bottom: 72px;
		grid-template-columns: 2.1fr 1fr 1fr;
		grid-gap: 30px;
		font-family: "Opensans",
			sans-serif;
		font-weight: 600;
		letter-spacing: normal;
		color: $dark-500;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		justify-content: center;
		padding: 32px;
		border-radius: 6px;
		text-shadow: 1px 1px 0 transparentize($black, 0.75);
		text-transform: uppercase;
		background-size: cover;

		&--fruits {
			color: $white;

			.news-dashboard__link {
				border-bottom: 2px solid $white;
			}
		}
	}

	&__text {
		font-size: 12px;
		letter-spacing: 0.1em;
		line-height: 1;
		margin-bottom: 16px;
	}

	&__title {
		margin-bottom: 10px;
		width: 65%;
		font-size: 30px;
		font-family: "Ruda",
			sans-serif;
		font-weight: 600;
		text-shadow: 2px 2px 0 transparentize($black, 0.75);
	}

	&__link {
		font-size: 14px;
		padding-bottom: 2px;
		width: fit-content;
		border-bottom: 2px solid $dark-500;
	}
}

.promotions {
	background-color: $silver-100;
	padding: 72px 0;

	.product-card {
		flex-direction: row;
		justify-content: space-between;
		min-height: 124px;
		padding: 12px;
		background-color: $white;

		&__image-link {
			width: 100px;
			height: 100px;
			margin: 0 10px 0 0;
			overflow: visible;

			&:hover {

				&::before,
				&::after {
					display: none;
				}
			}
		}

		&__image {
			width: 100px;
			height: 100px;
		}

		&__desc {
			margin: 0;
			padding: 0;
		}

		&__name {
			flex-grow: 1;
			margin-bottom: 0;
		}

		&__label {
			font-size: 10px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 4px;

			&--green {
				color: $green-900;
			}

			&--red {
				color: $red-900;
			}

			&--silver {
				color: $silver-600;
			}
		}

		&__raiting {
			position: absolute;
			bottom: 10px;
			right: 34px;
			font-weight: 700;

			&::before {
				position: absolute;
				content: '';
				top: 2px;
				left: 25px;
				width: 16px;
				height: 16px;
				background-image: url('../images/sprite.svg#star_raiting');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
		}

		.prices {
			display: flex;
			flex-direction: row-reverse;
			align-items: flex-end;

			&__item {
				margin-right: 10px;
				font-size: 20px;
				font-weight: 600;
				line-height: 1;

				span {
					font-size: 12px;
					line-height: 1;
				}

				&--old {
					font-size: 12px;
					font-weight: 400;
				}
			}
		}

		.badges {
			top: 13px;
			left: 10px;
		}
	}


	&__btn-more {
		display: block;
		margin: 0 auto;
		padding: 10px 26px 12px;
	}

}

.promotions-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	margin-bottom: 46px;
}

.brands {
	padding: 72px 0 73px;

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	&__item {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		width: 80px;
		height: 45px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		transition: opacity 0.2s, transform 0.1s;

		&:hover {
			opacity: 0.5;
			transform: scale(1.1);
		}

		&:focus {
			outline: transparent;
			border-radius: 3px;
			box-shadow: 0 0 0 2px $green-200;
		}

		&:active {
			opacity: 0.7;
		}
	}
}

.news {

	&__container {
		position: relative;
		padding-bottom: 72px;
	}

	&__title {
		text-align-last: left;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
	}

	&__item {
		position: relative;
		box-shadow: 0 3px 3px transparentize($black, 0.25);
		border-radius: 6px;

		&:hover {
			.news__description {
				color: $green-900;
			}
		}
	}

	&__date {
		position: absolute;
		top: 0;
		left: 20px;
		padding: 18px 0 10px;
		width: 65px;
		font-size: 13px;
		font-weight: 600;
		font-family: "Ruda", sans-serif;
		text-align: center;
		background-color: $white;
		border-radius: 0 0 4px 4px;

		span {
			display: block;
			font-size: 30px;
			line-height: 1;
		}
	}

	&__image-link {
		display: block;
		margin-bottom: 18px;

		&:focus {
			outline: transparent;
			border-radius: 3px;
			box-shadow: 0 0 0 3px $green-200;
		}
	}

	&__image {
		width: 416px;
		height: 240px;
		border-radius: 6px 6px 0 0;
	}

	&__description {
		margin: 0 18px 18px 18px;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: normal;
		transition: color 0.2s;
	}

	&__link {
		position: absolute;
		top: 10px;
		right: 22px;
		padding-bottom: 3px;
		text-transform: uppercase;
		font-weight: 700;
		color: $green-900;
		border-bottom: 2px solid $green-900;
		transition: color 0.2s;

		&:hover {
			color: $green-1000;
		}

		&:focus {
			outline: transparent;
			border-radius: 3px;
			box-shadow: 0 0 0 3px $green-200;
		}

		&:active {}

	}
}

.footer {
	background-color: $dark-800;
	color: $white;
	letter-spacing: 0;
}

.footer-top {
	padding-top: 30px;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	&__logo {
		display: inline-block;
		margin-bottom: 22px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__list {
		margin-top: 4px;
		column-count: 3;
		column-gap: 75px;
	}

	&__item {
		margin-bottom: 18px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.footer-form {
	margin-right: 65px;

	&__label {
		display: block;
		margin-bottom: 16px;
	}

	&__input {
		height: 40px;
		max-width: 181px;
		width: 100%;
		padding: 12px;
	}

	&__btn {
		height: 40px;
		margin-left: -4px;
		vertical-align: top;
		padding: 12px 17px;
		border-radius: 0 6px 6px 0;
		font-size: 12px;
		line-height: 1.3;
		font-family: "Opensans",
			sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.footer-address {
	padding-top: 4px;
	padding-right: 4px;
}

.footer-contacts {
	margin-bottom: 12px;

	&__item {
		margin-bottom: 18px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.footer-social {
	display: flex;
	margin-left: -6px;

	&__item {
		width: 44px;
		height: 44px;
		padding: 6px;
	}

	&__link {
		display: block;
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: opacity 0.2s, filter 0.2s;
		outline: transparent;


		&:hover {
			opacity: 0.7;
		}

		&:focus {
			border-radius: 3px;
			box-shadow: 0 0 0 3px $green-200;
		}

		&:active {
			box-shadow: none;
			opacity: 1;
			filter: invert(7%) sepia(20%) saturate(218%) hue-rotate(37deg) brightness(99%) contrast(91%);
		}
	}
}

.footer-bottom {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 24px;
		padding-bottom: 24px;
	}

	&__list {
		display: flex;
	}

	&__item {
		height: 30px;
		margin-right: 24px;

		&:last-child {
			margin-right: 0;
		}
	}
}

@import 'media';