@import 'utilities/reset';
@import 'utilities/modifiers';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'settings/global';


@import 'header';
@import 'components/sidebar';
@import 'components/main-slider';
@import 'components/benefits';
@import 'components/top-products';
@import 'components/news-dashboard';
@import 'components/promotions';
@import 'components/brands';
@import 'components/news';
@import 'footer';