.news-dashboard {
	&__list {
		display: grid;
		margin-bottom: 72px;
		grid-template-columns: 2.1fr 1fr 1fr;
		grid-template-rows: 300px;
		grid-gap: 30px;
		font-weight: 600;
		letter-spacing: normal;
		color: $dark-500;

		@include media-2(992) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat (3, 1fr);
			grid-template-areas:
				"a a"
				"b c"
			;
		}


		@include media-4(576) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas:
				"a"
				"b"
				"c";
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		justify-content: center;
		padding: 32px;
		border-radius: 6px;
		text-shadow: 1px 1px 0 rgba($black, 0.25);
		text-transform: uppercase;
		background-size: cover;

		@include media-4(576) {
			padding-left: 12px;
			padding-right: 12px;
		}

		&--fruits {
			color: $white;

			@include media-2(992) {
				grid-area: a;
			}

			.news-dashboard {
				&__link {
					border-bottom: 2px solid $white;
				}
			}
		}

		&--sales {
			@include media-2(992) {
				grid-area: b;
			}
		}

		&--discounts {
			@include media-2(992) {
				grid-area: c;
			}
		}


	}

	&__text {
		font-size: 12px;
		letter-spacing: 0.12em;
		line-height: 1;
		margin-bottom: 16px;
	}

	&__title {
		margin-bottom: 10px;
		width: 65%;
		font-size: 30px;
		font-family: "Ruda",
			sans-serif;
		font-weight: 600;
		text-shadow: 2px 2px 0 rgba($black, 0.25);

		@include media-4(576) {
			font-size: 24px;
		}

	}

	&__link {
		padding-bottom: 2px;
		width: fit-content;
		font-size: 14px;
		border-bottom: 2px solid;
		transition: color 0.2s, border-color 0.2s;

		&:focus {
			outline: transparent;
			border-bottom: none;
			border-radius: 3px;
			box-shadow: 0 0 0 2px $dark-500;
		}

		&:hover {
			color: $silver-600;
			border-color: $silver-600;
		}
	}
}