.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  font-size: 18px;
  font-weight: 400;
  color: $dark-800;
  background-color: $white;
  text-transform: none;
  overflow-x: hidden;
  transition: width 0.3s;
  z-index: 10;

  &__logo-wrapper {
    padding: 26px 6px 26px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close-btn {
    position: relative;
    width: 44px;
    height: 44px;

    &::before {
      position: absolute;
      content: '';
      top: 13px;
      left: 13px;
      width: 18px;
      height: 18px;
      background-image: url('../../images/sprite.svg#close_btn');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }

  &__header {
    min-width: 300px;
    padding: 12px;
    background-color: $green-900;
    margin-bottom: 5px;
  }

  &__nav-link {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: $white;

    &--sign-in {
      padding-left: 40px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -4px;
        width: 25px;
        height: 32px;
        background-image: url('../../images/sprite.svg#user');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 3;
      }
    }

    &--registration {
      padding-left: 25px;

      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 10px;
        width: 1px;
        height: 20px;
        background-color: $white;
      }
    }
  }

  &__catalogue-btn {
    position: relative;
    min-width: 300px;
    margin-bottom: 5px;
    padding-left: 56px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3;
    text-align: left;
    color: $dark-800;

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 16px;
      mask-image: url('../../images/sprite.svg#menu_lines');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      width: 25px;
      height: 15px;
      background-color: $dark-800;
    }
  }

  &__contacts-item {
    min-width: 300px;
    margin-bottom: 5px;
    padding-left: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__contacts-link {
    position: relative;

    &--phone {
      &::before {
        top: 0;
        height: 24px;
        mask-image: url('../../images/sprite.svg#phone');
      }
    }

    &--location {
      &::before {
        top: 10px;
        height: 32px;
        mask-image: url('../../images/sprite.svg#location');
      }
    }

    &::before {
      content: '';
      left: -39px;
      width: 24px;
      position: absolute;
      background-color: $dark-800;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
    }
  }

  &__menu {
    padding-left: 15px;
  }

  .social {
    margin-bottom: 5px;
    padding: 10px 15px 15px;

    &__link {
      background-color: $black;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      width: 32px;
      height: 32px;
    }
  }

  .sidebar-menu {
    &__item {
      min-width: 300px;
    }

    &__link {
      display: block;
      padding: 7px 0;
    }
  }
}

.sidebar-active {
  width: 300px;
}

.body-no-scroll {
  overflow-y: hidden;
}

.overlay {
  display: none;
}

.overlay-active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba($black, 0.5);
}