.top-products {
	padding: 72px 0;

	@include media-4(576) {
		padding: 48px 0;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
		margin-bottom: 47px;

		@include media-2(992) {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 5px;
		}

		@include media-4(576) {
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
		}
	}

	&__item {
		margin: 0 auto;
		max-width: 300px;
	}
}